Day4_NewsDigest.json
{
  "name": "Daily Placement News Digest",
  "nodes": [
    {
      "parameters": {
        "url": "https://news.ycombinator.com/rss ",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -48,
        16
      ],
      "id": "25786901-982a-45fc-bd3d-531db94fbc13",
      "name": "RSS Read",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"={{ 'Summarise these RSS items into 5 bullets for a placement coach. Each bullet ≤ 20 words. Items follow:\\\\n\\\\n' + $input.all().slice(0, 5).map(i => '- ' + i.json.title + ': ' + (i.json.contentSnippet || i.json.content || '')).join('\\\\n') }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        16
      ],
      "id": "8f5632ac-c26a-4ab6-8495-7a773822b5d5",
      "name": "HTTP Request",
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ft6y0W8MUJQb7Jlk",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        160,
        16
      ],
      "id": "3d0f6b5f-b05a-4fa2-a77c-95dbef7f5978",
      "name": "Limit"
    },
    {
      "parameters": {
        "sendTo": "ch.divyajaswanthi@gmail.com",
        "subject": "HI DIVYA",
        "emailType": "text",
        "message": "=Good morning. Today's placement news digest:\n\n={{ $json.choices[0].message.content }}\n\nSent automatically by n8n at 7:00 AM IST.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        576,
        16
      ],
      "id": "d4f5ecb5-e983-41ca-b237-c39d88791a7d",
      "name": "Send a message",
      "webhookId": "ad915b56-bc4d-486e-b87c-d82dda479bd1",
      "credentials": {
        "gmailOAuth2": {
          "id": "p339qhB7slaKhSho",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        16
      ],
      "id": "a25e5d70-7abb-435e-879b-c4f6749d058b",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4d14fa23-bf86-477a-8e4b-32efa7274ef3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "032ebf83bb0305eeeeef979cc25f1fc7727300dfaa51704a67751cc1a0acf122"
  },
  "id": "MgH8NbZBrww3xnxf",
  "tags": []
}